{% extends 'base.html' %}


{% block content-header %}
<div class="card-header">
  <div class="card-tools">
    <a href="#" class="btn btn-tool">Print</a>
    <a href="{% url 'classroom-update' object.id %}" class="btn btn-tool">
      <i class="fas fa-edit"></i>
    </a>
    <a href="{% url 'classroom-delete' object.id %}" class="btn btn-tool">
      <i class="fas fa-times"></i>
    </a>
  </div>
</div>
{% endblock content-header %}

{% block content %}
    <div class="row">
      <div class="col-sm-8">
        <div class="col-sm-4">
        <div>
          <h3>{{ object }} </h3>
          <h5>{{ object.name }} </h5>
        </div>
      </div>
        <div>
          <div class="form-group border-bottom row">
            <label class="col">
              Capacity
            </label>
            <div class="col">
              {{ object.capacity }}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
               Web Lecture Support
            </label>
            <div class="col">
              {{ object.web_lecture}}
            </div>
          </div>

          <div class="form-group border-bottom row">
            <label class="col">
              Shape
            </label>
            <div class="col">
              {{ object.shape }}
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
               Subjects
            </label>
            <div class="col">
            <ul id="nopaddinglist">
              {% for subject in object.subjects.all %}
              {{ subject.name }} <br/>
              {% endfor %}
            </ul>
            </div>
          </div>
          <div class="form-group border-bottom row">
            <label class="col">
               Teachers
            </label>
            <div class="col">
            <ul id="nopaddinglist">
              {% for teacher in object.teachers.all %}
              {{ teacher.firstname }} <br/>
              {% endfor %}
            </ul>
            </div>
          </div>
          </div>

        </div>

      </div>
    </div>




{% endblock content %}
