{% extends 'base.html' %}

{% block title %}Staff{% endblock title %}

{% block breadcrumb %}
<a class="btn btn-success" href="{% url 'staff-create' %}"><i
    class="fas fa-plus"></i> New staff</a>
{% endblock breadcrumb %}

{% block content %}
  <table id="stafftable" class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr id="staffHeaderRow">
        <th>S/N</th>
        <th>Fullname</th>
        <th>Gender</th>
        <th>Mobile Phone Number</th>
        <th>Salary</th>
        <th>DOJ</th>
        <th>Status</th>
        <th>Takes Web Lecture</th>
        <th colspan="3">Subjects</th>
      </tr>
    </thead>
    <tbody>

      {% for staff in object_list %}
        <tr class='clickable-row' data-href="{% url 'staff-detail' staff.id %}">
          <td>{{ forloop.counter}}</td>
          <td>{{ staff.surname}} {{staff.firstname }} {{staff.other_name }}</td>
          <td>{{ staff.get_gender_display}}</td>
          <td>{{ staff.mobile_number}}</td>
          <td>{{ staff.salary}}</td>
          <td>{{ staff.date_of_admission}}</td>
          <td>{{ staff.get_current_status_display}}</td>
          <td>{{ staff.takes_web_lecture}}</td>
          <td colspan="3" id="subjectId">
            <ul>
              {% for subject in staff.subjects.all %}
              {{ subject.name }} <br/>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock content %}


{% block morejs %}
<script>
   $('#stafftable').DataTable({
    select: false
    });
</script>

{% endblock morejs %}
